<div id="title">
Looking to Join
</div>

<div id="header" class="container-fluid">
	<div id="header-row" class="row">
		<div id="playerandguild">
			<div id="player" class='col-sm-12 col-md-6'>
				<div id='empty' class='col-md-2'></div>
				<div id='playerportrait' class='col-md-8'>
					<div id="lftext">Looking For Players</div>
					<div id='por'>
						<div id='pportrait'>
							<div id="portrait-color">
							</div>
						</div>
					</div>
					<div id="portraittext">
					Are you a Guild Seeking more players?

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor distinctio laborum veritatis dolorem illo, minus, quos inventore minima esse natus autem veniam excepturi perferendis maiores molestias qui et, incidunt maxime!

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, optio laborum quod earum eveniet voluptatibus similique repellat at doloribus molestias harum nam ipsam, rem cum praesentium sed debitis voluptatum architecto.
					</div>
					<div id="porbuttondiv">
						<span class="porbutton"><p class="clickhere">Click Here</p></span>
					</div>
				</div>
				<div id='empty' class='col-md-2'></div>
			</div>
			<div id="guild" class='col-sm-12 col-md-6'>
				<div id='empty' class='col-md-2'></div>
				<div id='guildportrait' class='col-md-8'>
					<div id='lftext'>Looking For Guild</div>
						<div id='por'>
							<div id='gportrait'>
								<div id="portrait-color">
								</div>
							</div>
						</div>
					<div id="portraittext">
					Are your looking for a new Guild?

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse officia corporis, quibusdam deserunt, expedita illum blanditiis recusandae! Eaque, ullam id unde dolore iure earum tempora voluptatem porro sapiente rerum.

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tenetur error esse laboriosam. Ipsam accusantium provident perferendis magni. Eligendi laboriosam rerum excepturi voluptatibus fugit nesciunt quo eum nisi est harum.
					</div>
					<div id="porbuttondiv">
						<span class="porbutton"><p class="clickhere">Click Here</p></span>
					</div>				
				</div>
				<div id='empty' class='col-md-2'></div>

			</div>
		</div>
	</div>
</div>












