<div id="header" class="container-fluid">
	<div id="header-row" class="row">
		<div id="playerandguild">
			<div id="player" class='col-sm-12 col-md-6'>
				<div id='empty' class='col-md-2'></div>
					<div id='playerportrait' class='col-md-8'>
						<div id="lftext">LFG</div>
						<div id='por'>
							<div id='pportrait'>
								<div id="portrait-color">
								</div>
							</div>
						</div>
					</div>
				<div id='empty' class='col-md-2'></div>
			</div>
			<div id="guild" class='col-sm-12 col-md-6'>
				<div id='empty' class='col-md-2'></div>
				<div id='guildportrait' class='col-md-8'>
					<div id='lftext'>LFM</div>
						<div id='por'>
							<div id='gportrait'>
								<div id="portrait-color">
								</div>
							</div>
						</div>

				</div>
				<div id='empty' class='col-md-2'></div>
			</div>
		</div>
	</div>
</div>






















